/.idea/
/react_ui/build/
/react_ui/node_modules/
.DS_Store
__pycache__
/react_ui/yarn-error.log
/react_ui/build/
/django_server/$PROJECT_SLUG/local_settings.py
/Pipfile
/Pipfile.lock
/django_server/staticfiles/
/django_server/.coverage
